.card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card h2 {
  color: var(--title);
}

.card p {
  color: var(--text);
}

@media (min-width: 834px) {
  .card {
    align-items: start;
    text-align: start;
  }
}
