.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem;
  position: relative;
}
.menu {
  padding: 5px;
  background-color: transparent;
  
}

.btnMobile{
  margin: 0 auto;
  padding:  20px 100px;
  color: var(--bg);
  border: 2px solid var(--bg);
}
.navMobile {
  background-image: url("../../assets/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--title);
  left: 0;
  top: 63px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;
  padding-top: 40px;
  z-index: 2;
}

.navMobile a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

@media (min-width: 834px) {
  .navbar {
    padding: 1rem 10rem;
  }

  .desktop {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navDesktop {
    display: flex;
    gap: 25px;
  }
  .navDesktop a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 13px;
  }

  .navDesktop a:hover {
    color: var(--title);
    cursor: pointer;
  }

  .desktop button:hover {
    color: var(--bg);
    background-color: var(--title);
    transition: 0.4s ease;
    cursor: pointer;
  }
}
