.workCard {
  background-image: url("../../assets/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: var(--title);
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
  width: 85%;
}

.workCard h1 {
  color: var(--bg);
  margin-bottom: 50px;
  line-height: 1;
}

.workCard button {
  margin: 0 auto;
  color: var(--bg);
  border: 2px solid var(--bg);
}

@media (min-width: 834px) {
  .workCard {
    background-image: url("../../assets/bg-pattern-how-we-work-desktop.svg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 5%;
    text-align: start;
    width: 78%;
  }

  .workCard h1 {
    margin: 0;
    padding: 10px;
  }

  .title {
    width: 40%;
  }

  .workCard button:hover{
    background:var(--bg);
    color: var(--title);
    cursor: pointer;
  }
}
