.footer{
    margin-top: 130px;
    text-align: center;
}

.logoAndSocials img{
  margin-bottom: 20px;
}

.socials{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px ;
}