@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --bg: hsl(0, 0%, 98%);
  --text: hsl(216, 30%, 68%);
  --title: hsl(256, 26%, 20%);
  --links: hsl(270, 9%, 17%);
  --subtitle: hsl(273, 4%, 51%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: clamp(2.6rem, 2.0718rem + 2.2535vw, 4.1rem);
  font-weight: 400;
}

h2 {
  font-size: clamp(2rem, 1.7887rem + 0.9014vw, 2.6rem);
}

h3 {
  font-size: clamp(1.2rem, 1.0944rem + 0.4507vw, 1.5rem);
}

p {
  font-size: clamp(0.8125rem, 0.7465rem + 0.2817vw, 1rem);
  line-height: 1.4;
}

a {
  font-size: clamp(0.625rem, 0.559rem + 0.2817vw, 0.8125rem);
}

button {
  font-size: clamp(0.625rem, 0.559rem + 0.2817vw, 0.8125rem);
  background-color: transparent;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: 2px solid var(--title);
  color: var(--title);
}
