@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --bg: hsl(0, 0%, 98%);
  --text: hsl(216, 30%, 68%);
  --title: hsl(256, 26%, 20%);
  --links: hsl(270, 9%, 17%);
  --subtitle: hsl(273, 4%, 51%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

h1{
  font-size: 2.6rem;
  font-weight: 400;
}
p{
  line-height: 1.4;
}